
// button colors
$primaryColor: #146C94;
$hoverPrimaryColor: #AFD3E2;

$lightTextColor: #F6F1F1;


$headerColor: #146C94;
$footerColor: #146C94;


$backgroundColor: #F6F1F1;
$iconColor: #19A7CE;

$titleColor: #146C94;
$textColor: #000000;
$subTitle: #868e96;





